.menubar
    a.logo(href='/') RAZARA
    a.menu(href='/logout') LOGOUT
    a.menu(href='/profile') PROFILE
    a.menu(href='/addmovie') ADD A MOVIE
    a.menu(href='/addperson') ADD A PERSON
    a.menu(href='/advancedsearch') SEARCH
