mixin menubar
    .menubar
        form.menu(method='POST' action='/users/logout' name='logout')
          a(onclick='document.logout.submit();') LOGOUT
        a.menu(href='/profile') PROFILE
        if(user.accountType === "true")
            a.menu(href='/addmovie') ADD A MOVIE
            a.menu(href='/addperson') ADD A PERSON
        a.menu(href='/advancedsearch') SEARCH
        a.logo(href='/') RAZARA
