.menubar
      .logo IMDB
      .searchbar
        input(type='text' placeholder='Search for a movie, actor, etc.')
        button(type='submit') SEARCH
      .menu LOGOUT
      .menu PROFILE
      .menu ADD A MOVIE
      .menu ADD A PERSON