.menubar
    a.logo(href='/') RAZARA
    .searchbar
        input(type='text' placeholder='Search for a movie, actor, etc.')
        button(type='submit') SEARCH
    a.menu(href='/logout') LOGOUT
    a.menu(href='/profile') PROFILE
    a.menu(href='/addmovie') ADD A MOVIE
    a.menu(href='/addperson') ADD A PERSON
