mixin menubar
    if (session && session.loggedin)
        .menubar
            form.menu(method='POST' action='/users/logout' name='logout')
              a(onclick='document.logout.submit();') LOGOUT
            a.menu(href=`/users/${session.userID}`) PROFILE
            if(session.admin)
                a.menu(href='/addmovie') ADD A MOVIE
                a.menu(href='/addperson') ADD A PERSON
            a.menu(href='/advancedsearch') SEARCH
            a.logo(href='/') RAZARA
