body {
  margin: 0px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFBAAB;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.whitebackground{
  background: white;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 50px;
  width: 1117px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
}

.whitebackground p{
  padding-top: 15px;
  text-align: center;
  font-size: 50px;
  margin: auto;
}

.formbox{
  margin: auto;
  width: 638px;
  border: 1px solid #000000;
  box-sizing: border-box;
  display: table;
  padding: 15px;
}

.formbox input[type=text]{
  margin: auto;
  margin-top: 20px;
  display: table-cell;
}

.formbox label{
    display: table-cell;
    font-size: 15px;
}

.formbox p{
    display: table-row;
    text-indent: 2em
}

.formbox button{
  font-family: Fira Sans Extra Condensed;
  font-style: normal;
  font-weight: bold;
  border-radius: 15px;
  width: 168px;
  height: 24px;
  margin-top:20px;
  margin-bottom: 2px;
  background: #FFBAAB;
  display: table-cell;
}
