body {
  margin: 0px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFBAAB;
  height: 900px;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.whitebackground{
  background: white;
  margin: auto;
  margin-top: 100px;
  width: 1117px;
  height: 654px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
}

.whitebackground h1{
  padding-top: 15px;
  text-align: center;
  font-size: 50px;
  margin: auto;
}

.results{
  width: 986px;
  height: 510px;
  left: 227px;
  top: 244px;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin: auto;
}

.resultsbox{
    width: 986px;
    height: 440px;
}

.results button{
    height: 50px;
    margin: 10px;
    background-color: #FFBAAB;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results img{
    height:50px;
}

.searchresult{
  margin-bottom: 3px;
  height: 9%;
  width: 981px;
  border:1px solid black;
  color: black;
  background: #FFBAAB;
}

.searchresult h2{
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
}

.searchresult p{
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-bottom: 0px;
  font-size: 15px;
}

.searchresult a{
  color: black;
}

#back{
    clear:right;
    float:left;
    display:inline-block;
}

#forward{
    clear:right;
    float:right;
    display:inline-block;
}
