body {
  margin: 0px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFBAAB;
  height: 1700px;
  background-repeat: no-repeat;
}



.blackbackground{
  background: black;
  margin: auto;
  margin-top: 50px;
  width: 1235px;
  height: 1560px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
}

.welcomebox{
  background: white;
  margin: auto;
  margin-top: 55px;
  margin-bottom: 35px;
  width: 1115px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.profilecard{
  background: white;
  margin: auto;
  width: 1115px;
  height: 1110px;
  margin-bottom: 55px;
  border-radius: 20px;
}


.left{
  text-align: right;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  padding-top: 135px;
  display:inline-block;
  align-content: center;
  float: left;
}

.left h3{
  margin:0px;
  font-size: 50px;

}

.left p{
  margin:0px;
  font-size: 24px;
}

.right{
    width:200px;
    margin-left:10px;
    text-align: center;
    float:right;
}

.right p{
  margin: 0px;
  font-family: Fira Sans Extra Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  display: block;
}
.right img{
  width: 186px;
  height: 186px;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-top: 30px;
}

.right button{
  font-family: Fira Sans Extra Condensed;
  font-style: normal;
  font-weight: bold;
  border-radius: 15px;
  width: 165px;
  height: 25px;
  margin-bottom: 2px;
  background: #FFBAAB;
}

.sections{
  font-family: Fira Sans Extra Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  width: 986px;
  height: 181px;
  margin: auto;
}

.sections p{
  margin:0px;
  padding-top: 35px;
  display: inline-block;
}

.profileboxes{
  width: 985px;
  height: 148px;
  border: 1px solid #000000;
  box-sizing: border-box;
  overflow: auto;
  margin-top: 3px;
}

.sections button{
  border-radius: 15px;
  width: 95px;
  height: 25px;
  margin-bottom: 2px;
  background: #FFBAAB;
  margin-left: 10px;
}

.iconboxes{
  width: 130px;
  display: inline-block;
  word-wrap: break-word;
  overflow: auto;
  margin: 5px;
  margin-right: 0px;
  text-align: center;

}

.iconboxes img{
  width: 101px;
  height: 101px;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-bottom: 0px;
  display: inline-block;
}

.iconboxes label{
  font-size: 13.5px;
  display: block;
  word-wrap: break-word;
}

#notificationscontainer p{
    font-size: 15px;
    display: inline-block;
    margin:5px;
    padding-top: 10px
}

#notificationscontainer img{
    height:20px;
    margin-left:10px;
}
