body {
  margin: 0;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFBAAB;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.blackbackground{
  background: black;
  margin: auto;
  margin-top: 50px;
  width: 1236px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
}

.personheader{
    text-align: right;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    background: white;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 33px;
    width: 1117px;
    height: 171px;
    border-radius: 20px;
  }

.personheader button{
  border-radius: 15px;
  width: 200px;
  height: 25px;
  background: #FFBAAB;
  margin: auto;
  display: block;
  padding: 0px;
}

.personheader p{
  padding-top: 36px;
  margin:0px;
  font-size: 50px;
  text-align: center;
}

.personcard{
  background: white;
  margin: auto;
  width: 1117px;
  margin-bottom: 55px;
  border-radius: 20px;
}


.sections{
  font-family: Fira Sans Extra Condensed;
  font-style: normal;
  font-weight: bold;
  width: 986px;
  padding-bottom: 55px;
  margin: auto;
}

.sections h2{
    font-size: 24px;
    margin:0px;
    padding-top: 36px;
    display: inline-block;
}

.profileboxes{
  width: 986px;
  height: 150px;
  border: 1px solid #000000;
  box-sizing: border-box;
  overflow: auto;
}

.iconboxes{
  width: 130px;
  display: inline-block;
  word-wrap: break-word;
  overflow: auto;
  margin: 5px;
  margin-right: 0px;
  text-align: center;
  vertical-align: top;
}

.iconboxes img{
  width: 101px;
  height: 101px;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin: 8px;
  margin-bottom: 0px;
  display: block;

}

.iconboxes p{
  text-align: center;
  width: 113px;
  padding: 0px;
  font-size: 15px;
  margin: 0px;
  word-wrap: break-word;
}

.followbutton{
  border-radius: 15px;
  width: 93px;
  height: 25px;
  margin-bottom: 2px;
  background: #FFBAAB;
}
