doctype html
html(lang='en' dir='ltr')
    head
        meta(charset='utf-8')
        link(href='./css/addmovieaddperson.css' rel='stylesheet')
        link(href='./css/menubar.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Inter&display=swap' rel='stylesheet')
        title Add a Movie
    body
        include ../partials/menubar
        .whitebackground
            p ADD A MOVIE
            .formbox
                p
                    label(for='title') TITLE: 
                    input#title(type='text')
                    br
                p
                    label(for='releaseYear') RELEASE YEAR: 
                    input#releaseYear(type='text')
                    br
                p
                    label(for='runtime') RUNTIME (in minutes): 
                    input#runtime(type='text')
                    br
                p
                    label(for='genres') GENRES (comma-separated): 
                    input#genres(type='text')
                    br
                p
                    label(for='writers') WRITERS: 
                    input#writers(type='text')
                    br
                p
                    label(for='directors') DIRECTORS: 
                    input#directors(type='text')
                    br
                p
                    label(for='actors') ACTORS: 
                    input#actors(type='text')
                    br
                p
                    label
                    button#addbutton(type='button' name='add' onclick='addMovie()') ADD
        script(src='./javascript/addmovie.js' charset='utf-8')