include ../partials/menubar
doctype html
html(lang='en' dir='ltr')
    head
        meta(charset='utf-8')
        link(href='/css/addmovieaddperson.css' rel='stylesheet')
        link(href='/css/menubar.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Inter&display=swap' rel='stylesheet')
        title Add a Person
    body
        +menubar
        .whitebackground
            p ADD A PERSON
            .formbox
                  p
                      label(for='name') NAME:
                      input(type='text' name='name' id='name')
                      br
                  p
                      label
                      button#addbutton.addbutton(type='button' onclick='addPerson()') ADD
    script(src='/javascript/addperson.js' charset='utf-8')
