include ../partials/menubar
doctype html
html(lang='en' dir='ltr')
    head
        meta(charset='utf-8')
        link(href='/css/addmovieaddperson.css' rel='stylesheet')
        link(href='/css/menubar.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Inter&display=swap' rel='stylesheet')
        title Add a Movie
    body
        +menubar
        .whitebackground
            p ADD A MOVIE
            h5(style="margin: auto;") INSTRUCTIONS: Add each individual genre, writer, director, and actor one at a time using the buttons.
            h5 All fields must be filled, and at least one genre, writer, director and actor must be added.
            h5 When you're done adding everything, press the ADD MOVIE button to add the movie to the database.
            .formbox
                p
                    label(for='title') TITLE:
                    input#title(type='text' name='title')
                    br
                p
                    label(for='releaseYear') YEAR:
                    input#year(type='number' name='releaseYear')
                    br
                p
                    label(for='runtime') RUNTIME (MINS):
                    input#runtime(type='number' name='runtime')
                    br
                p
                    label(for='plot') PLOT:
                    input#plot(type='text' name='plot')
                    br
                p
                    label(for='genres') GENRES:
                    input#genres(type='text' name='genres')
                    button#addGenres(type='button' onclick='addGenres()') ADD GENRE
                    br
                p
                    label(for='writers') WRITERS:
                    input#writers(type='text' name='writers' oninput='getWriters()' list='writerNames')
                    datalist(id='writerNames')
                    button#addwriters(type='button' onclick='addWriters()') ADD WRITER
                    br
                p
                    label(for='directors') DIRECTORS:
                    input#directors(type='text' name='directors' oninput='getDirectors()' list='directorNames')
                    datalist(id='directorNames')
                    button#addirectors(type='button' onclick='addDirectors()') ADD DIRECTOR
                    br
                p
                    label(for='actors') ACTORS:
                    input#actors(type='text' name='actors' oninput='getActors()' list='actorNames')
                    datalist(id='actorNames')
                    button#addactors(type='button' onclick='addActors()') ADD ACTOR
                    br
                p
                    label
                    button#addbutton.addbutton(type='button' onclick='addMovie()') ADD MOVIE
            div#wad
                div#writ
                    h4 WRITERS:
                div#direct
                    h4 DIRECTORS:
                div#act
                    h4 ACTORS:
                div#gen
                    h4 GENRES:
    script(src='/javascript/addmovie.js' charset='utf-8')
