include ../partials/menubar
doctype html
html(lang='en' dir='ltr')
    head
        meta(charset='utf-8')
        link(href='/css/addmovieaddperson.css' rel='stylesheet')
        link(href='/css/menubar.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Inter&display=swap' rel='stylesheet')
        title Add a Movie
    body
        +menubar
        .whitebackground
            p ADD A MOVIE
            .formbox
                p
                    label(for='title') TITLE:
                    input#title(type='text' name='title')
                    br
                p
                    label(for='releaseYear') RELEASE YEAR:
                    input#year(type='text' name='releaseYear')
                    br
                p
                    label(for='runtime') RUNTIME:
                    input#runtime(type='text' name='runtime')
                    br
                p
                    label(for='genres') GENRES:
                    input#genres(type='text' name='genres')
                    br
                p
                    label(for='writers') WRITERS:
                    input#writers(type='text' name='writers' oninput='getWriters()')
                    div(id='writerNames')
                    br
                p
                    label(for='directors') DIRECTORS:
                    input#directors(type='text' name='directors' oninput='getDirectors()')
                    div(id='directorNames')
                    br
                p
                    label(for='actors') ACTORS:
                    input#actors(type='text' name='actors' oninput='getActors()')
                    div(id='actorNames')
                    br
                p
                    label
                    button#addbutton(type='button' onclick='addMovie()') ADD
    script(src='/javascript/addmovie.js' charset='utf-8')
