<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="./css/addmovieaddperson.css" rel="stylesheet">
    <link href="./css/menubar.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <title></title>
  </head>
  <body>

    <div class="menubar">
      <a href="/" class ="logo">RAZARA</a>
      <a href="/logout" class ="menu">LOGOUT</a>
      <a href="/profile" class ="menu">PROFILE</a>
      <a href="/addmovie" class ="menu">ADD A MOVIE</a>
      <a href="/addperson" class ="menu">ADD A PERSON</a>
      <a href="/advancedsearch" class ="menu">SEARCH</a>
    </div>

      <div class="whitebackground">
        <p>ADD A MOVIE</p>
          <div class = "formbox">
              <p><label for="title">TITLE: </label><input type="text" id="title"> <br></p>
              <p><label for="releaseYear">RELEASE YEAR: </label><input type="text" id="releaseYear"> <br></p>
              <p><label for="runtime">RUNTIME: </label><input type="text" id="runtime"> <br></p>
              <p><label for="genres">GENRES: </label><input type="text" id="genres"> <br></p>
              <p><label for="writers">WRITERS: </label><input type="text" id="writers"> <br></p>
              <p><label for="directors">DIRECTORS: </label><input type="text" id="directors"> <br></p>
              <p><label for="actors">ACTORS: </label><input type="text" id="actors"> <br></p>

            <p><label></label><button type="button" name="add" id="addbutton" onclick= "addMovie()">ADD</button></p>

          </div>
      </div>

      <script src="./javascript/addmovie.js" charset="utf-8"></script>
    </body>

  </html>
