<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="./css/addmovieaddperson.css" rel="stylesheet">
    <link href="./css/menubar.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <title></title>
  </head>
  <body>

    <div class="menubar">
      <a href="/" class ="logo">RAZARA</a>
      <a href="/logout" class ="menu">LOGOUT</a>
      <a href="/profile" class ="menu">PROFILE</a>
      <a href="/addmovie" class ="menu">ADD A MOVIE</a>
      <a href="/addperson" class ="menu">ADD A PERSON</a>
      <a href="/advancedsearch" class ="menu">SEARCH</a>
    </div>

      <div class="whitebackground">
          <p>ADD A PERSON</p>
          <div class = "formbox">
              <p><label for="name">NAME: </label><input type="text" id="name"> <br></p>
            <p><label></label><button type="button" id="addbutton" name="add" onclick="addPerson()">ADD</button></p>
          </div>
      </div>

      <script src="./javascript/addperson.js" charset="utf-8"></script>
    </body>

  </html>
