doctype html
html(lang='en' dir='ltr')
  head
    meta(charset='utf-8')
    link(href='./css/viewmovie.css' rel='stylesheet')
    link(href='./css/menubar.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Inter&display=swap' rel='stylesheet')
    title Movie Information
  body
    include ../partials/menubar
    #movieinfoblackbackground
      #movieinfocard.movieinfocard
        h1#movieinfotitle Movie Title
        h3#movierating #.#/10
        button#addtowatchlistbutton(type='button') ADD TO WATCHLIST
        br
        #movieinforeleasedate.moviedateduration date
        #movieinfoduration.moviedateduration duration
        br
        h5 OVERVIEW
        #overviewdiv test
        h5 DIRECTORS
        #movieinfodirectors.castcontainers
        h5 WRITERS
        #movieinfowriters.castcontainers
        h5 ACTORS
        #movieinfoactors.castcontainers
      #recommendedmovieinfocard.recommendedmovieinfocard
        h3 RECOMMENDED MOVIES
    #reviewsonmoviepagecontainer.reviewsonmoviepagecontainer
      h5 ADD A SCORE OUT OF 10 (REQUIRED):
      input#reviewoutof10(type='number' min='0' max='10')
      h5 WRITE A BRIEF SUMMARY (OPTIONAL):
      textarea#briefsummaryinput(rows='4' cols='50')
      h5 WRITE A FULL REVIEW (OPTIONAL):
      textarea#fullreviewinput(rows='4' cols='50' type='text')
      button#submitreviewbutton(type='button') SUBMIT
      #allreviewscontainer
        .review
          .left
            img(src='./img/Video.png' alt='')
            br
            p Score/10
            p
              | Reviewer:
              a(href='userprofile.html') Name
          .right
            h4 Summary
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis aenean et tortor at risus viverra adipiscing at in. Nunc sed blandit libero volutpat sed cras. Lectus quam id leo in. Fermentum leo vel orci porta non pulvinar neque laoreet. Diam vulputate ut pharetra sit amet aliquam id diam maecenas.
            h4 Full Review
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis aenean et tortor at risus viverra adipiscing at in. Nunc sed blandit libero volutpat sed cras. Lectus quam id leo in. Fermentum leo vel orci porta non pulvinar neque laoreet. Diam vulputate ut pharetra sit amet aliquam id diam maecenas. Eu volutpat odio facilisis mauris sit amet massa vitae. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Nisi lacus sed viverra tellus. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Ultrices mi tempus imperdiet nulla malesuada. Purus viverra accumsan in nisl nisi. In ante metus dictum at tempor.
              | Ultrices dui sapien eget mi proin sed. Ut eu sem integer vitae. At quis risus sed vulputate odio ut enim blandit. Eu augue ut lectus arcu bibendum at. Neque gravida in fermentum et sollicitudin ac. Lacus vestibulum sed arcu non odio euismod lacinia at quis. Volutpat ac tincidunt vitae semper. Dui id ornare arcu odio. Eget nunc lobortis mattis aliquam faucibus purus. Dignissim enim sit amet venenatis urna cursus. Diam quam nulla porttitor massa. Amet risus nullam eget felis eget nunc lobortis mattis. Est ante in nibh mauris cursus mattis molestie a. Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus et. Massa id neque aliquam vestibulum morbi blandit cursus.
    script(src='./javascript/viewmovie.js' charset='utf-8')
