<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/css/signupsignin.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <title>Sign-Up</title>
  </head>
  <body>

    <div class="gradientcontainer">
      <p>SIGN UP</p>

        <div class = "gradientform">
            <p><label for="username">USERNAME:</label><input type="text" name="username" id="username"> </p>
            <p><label for="password">PASSWORD:</label><input type="text" name="password" id="password"> </p>
            <p><label></label><button type="button" onclick="signUpUser()">SIGN UP</button></p>
        </div>
    </div>

    <script src="./javascript/signup.js" charset="utf-8"></script>
  </body>
</html>
